.parent{
   position: relative;
   top: 0;
   left: 0;
}
   
.board{
   position: relative;
   top: 0;
   left: 0;
}

.BR, .BN, .BB, .BQ, .BK, .BP,
.WR, .WN, .WB, .WQ, .WK, .WP{
   position: absolute;
}

